<div class="container">
  <div class="row">
    <div class="col-xs-12" >
      <div class='well'>
        Share photos ( press ctrl for attach multiple photos )

        <%= form_for @photo, url: upload_photos_photos_path(@photo), html: { multipart: true } do |f| %>
            <%= f.file_field :photos, accept: 'image/png,image/jpeg,image/gif', multiple: true %>
            <br>
            <%= f.submit "Submit", :disabled => true %>
        <% end %>
      </div>
    </div>
</div>

  <a href="<%= download_zip_photos_path(query_params: request.query_parameters) %>">Download all photos in the page</a>
  <hr>
    <div class="row">
      <% @photos.each do |photo| %>
        <div class="col-xs-3" >
          <div class="thumbnail">
            <span href="<%= download_photo_path(photo.id)%>"  class="image-panel" >
              <%= image_tag photo.image.url(:thumb) ,style: "width: 250px;height: 167px"%>
            </span>
            <span style="font-size: 85%;word-wrap: break-word;">
              <%= photo.image_file_name %>, by  <%= photo.user.try(:name) %>
            </span>
            <a href="<%= download_photo_path(photo.id)%>" style="float: right;padding-top: 3px;">
              <span class="glyphicon glyphicon-download"></span>
            </a>
            <% if photo.user_id == current_user.id %>
              <a href="/photos/<%= photo.id %>" data-confirm="Are you sure?" data-method="delete" style="float: right;padding-top: 3px;padding-right: 4px;color: red;">
                <span class="glyphicon glyphicon-remove-circle"></span>
              </a>
            <% end  %>
          </div>
        </div>
      <% end  %>
    </div>
    <center><%= will_paginate @photos, renderer: BootstrapPagination::Rails %></center>

  </div>
<script>
    $(function(){

        // Initialize the gallery
        $('.image-panel').touchTouch();

        $('input:file').change(
            function(){
                if ($(this).val()) {
                    $('input:submit').attr('disabled',false);
                    // or, as has been pointed out elsewhere:
                    // $('input:submit').removeAttr('disabled');
                }
            }
        );

    });</script>
